.head{
    background-color: darkorange;
    border: 3px solid rgb(19, 18, 18);
    /* border-radius: 5px; */
    border-top-left-radius:6px ;
    border-bottom-right-radius: 6px;
    height: 200px;
    padding: 50px;
    margin: 50px ;
}

    

.item1{
    background-color: cornflowerblue;
     width: 500px;
    height: 200px;
    padding: 20px;
    margin: 10px;
}
.item2{
    background-color: darkcyan;
       width: 500px;
    height: 200px;
      padding: 20px;
      margin: 10px;
}
   .item4{
    background-color: burlywood;
      width: 500px;
    height: 200px;
      padding: 20px;
      margin: 10px;
}