*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box; */
}

p{
    color: aqua;
    background-color: yellow;
    font-size: 20px;
    padding: 20px;
}


.rpy{
    color: brown;
   
}

body{
    background-color: bisque;
}
#py{
    color: green;
     
}
p{
    text-align: center;
}
div{
    height: 300px;
    width: 300px;
    background-color: red;
    border: 5px double black;
    padding: 10px;
    margin-left: 50px;
}